In [192]:
import pandas as pd
df=pd.read_csv("Downloads/Customer Call List.csv",encoding="utf-8")
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Unnamed: 8,Unnamed: 9
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,NaN,NaN
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,NaN,NaN
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,NaN,NaN
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True,NaN,NaN

In [193]:
df.columns

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Address',
       'Paying Customer', 'Do_Not_Contact', 'Not_Useful_Column', 'Unnamed: 8',
       'Unnamed: 9'],
      dtype='object')

In [194]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Unnamed: 8,Unnamed: 9
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,NaN,NaN
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,NaN,NaN
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,NaN,NaN
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,NaN,NaN
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,NaN,NaN
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False,NaN,NaN
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,NaN,NaN
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,NaN,NaN
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False,NaN,NaN
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False,NaN,NaN
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,NaN,NaN
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,NaN,NaN
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True,NaN,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,NaN,NaN
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,NaN,NaN

In [195]:
import re
# Assuming df['Phone_Number'] contains strings representing phone numbers
df['Phone_Number'] = df['Phone_Number'].astype(str)
phone_number_pattern = re.compile(r'^\D*(\d{3})\D*(\d{3})\D*(\d{4})\D*$')
# Function to extract and reformat phone numbers
def reformat_phone_number(phone):
    match = phone_number_pattern.match(phone)
    if match:
        return f'({match.group(1)}) {match.group(2)}-{match.group(3)}'
    else:
        return None
df['Phone_Number'] = df['Phone_Number'].apply(reformat_phone_number)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Unnamed: 8,Unnamed: 9
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Yes,No,True,NaN,NaN
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,No,Yes,False,NaN,NaN
2,1003,Walter,/White,(706) 695-0392,298 Drugs Driveway,N,NaN,True,NaN,NaN
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,NaN,NaN
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,No,True,NaN,NaN
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Yes,Yes,True,NaN,NaN
6,1007,Jeff,Winger,None,1209 South Street,No,No,False,NaN,NaN
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,No,False,NaN,NaN
8,1009,Gandalf,NaN,None,123 Middle Earth,Yes,NaN,False,NaN,NaN
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Yes,No,True,NaN,NaN
10,1011,Samwise,Gamgee,None,"612 Shire Lane, Shire",Yes,No,True,NaN,NaN
11,1012,Harry,...Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,NaN,True,NaN,NaN
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Yes,N,False,NaN,NaN
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Yes,No,False,NaN,NaN
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,N,No,False,NaN,NaN
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,No,N,False,NaN,NaN
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,NaN,NaN
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,Y,NaN,True,NaN,NaN
18,1019,Creed,Braton,None,N/a,N/a,Yes,True,NaN,NaN
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Yes,N,True,NaN,NaN

In [196]:
df = df.drop(['Unnamed: 8', 'Unnamed: 9'], axis=1)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,(706) 695-0392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,None,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,None,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,None,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,None,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [197]:
df['Phone_Number'].fillna('Not Available', inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,(706) 695-0392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,Not Available,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Not Available,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [198]:
df.isnull().any()

CustomerID           False
First_Name           False
Last_Name             True
Phone_Number         False
Address              False
Paying Customer      False
Do_Not_Contact        True
Not_Useful_Column    False
dtype: bool

In [199]:
df[df['Last_Name'].isna()==1]

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
8,1009,Gandalf,NaN,Not Available,123 Middle Earth,Yes,NaN,False

In [200]:
df['Last_Name']=df['Last_Name'].fillna("Not Defined")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,(706) 695-0392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,No,False
8,1009,Gandalf,Not Defined,Not Available,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Not Available,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [201]:
df[df['Do_Not_Contact'].isna()==1]

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
2,1003,Walter,/White,(706) 695-0392,298 Drugs Driveway,N,NaN,True
8,1009,Gandalf,Not Defined,Not Available,123 Middle Earth,Yes,NaN,False
11,1012,Harry,...Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,NaN,True
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,Y,NaN,True

In [202]:
df['Do_Not_Contact']=df['Do_Not_Contact'].fillna("no status")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,(706) 695-0392,298 Drugs Driveway,N,no status,True
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,No,False
8,1009,Gandalf,Not Defined,Not Available,123 Middle Earth,Yes,no status,False
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,no status,True
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,Y,no status,True
18,1019,Creed,Braton,Not Available,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [203]:
df.drop('Not_Useful_Column', axis=1, inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,No,Yes
2,1003,Walter,/White,(706) 695-0392,298 Drugs Driveway,N,no status
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,No
8,1009,Gandalf,Not Defined,Not Available,123 Middle Earth,Yes,no status
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,no status
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,Y,no status
18,1019,Creed,Braton,Not Available,N/a,N/a,Yes
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [204]:
# Replace specific characters in the 'Last_Name' column
df['Last_Name'] = df['Last_Name'].str.replace(r'[.../-]', '', regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,No,Yes
2,1003,Walter,White,(706) 695-0392,298 Drugs Driveway,N,no status
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,No
8,1009,Gandalf,Not Defined,Not Available,123 Middle Earth,Yes,no status
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,no status
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,Y,no status
18,1019,Creed,Braton,Not Available,N/a,N/a,Yes
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [207]:
# Replace 'N' with 'No' and 'Y' with 'Yes' for 'Paying Customer'
df['Paying Customer'] = df['Paying Customer'].replace({'N': 'No', 'Y': 'Yes'})
df['Paying Customer'] = df['Paying Customer'].replace({'N/a': 'Not Available'})

# Replace 'N/a' with 'Not Available' for 'Address'
df['Address'] = df['Address'].replace({'N/a': 'Not Available'})

# Replace 'N' with 'No' and 'Y' with 'Yes' for 'Do_Not_Contact'
df['Do_Not_Contact'] = df['Do_Not_Contact'].replace({'N': 'No', 'Y': 'Yes'})
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,No,Yes
2,1003,Walter,White,(706) 695-0392,298 Drugs Driveway,No,no status
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Yes,No
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,No,No
8,1009,Gandalf,Not Defined,Not Available,123 Middle Earth,Yes,no status
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,(706) 695-0392,2394 Hogwarts Avenue,Yes,no status
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Yes,No
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,No,No
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,No,No
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,Yes,no status
18,1019,Creed,Braton,Not Available,Not Available,Not Available,Yes
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Yes,No